@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Subtitle";
    src: url("/public/assets/fonts/Karma-Light.ttf");
}
@font-face {
    font-family: "Text";
    src: url("/public/assets/fonts/Montserrat-Regular.ttf");
}